@model IEnumerable<REMGuide.Models.Entry>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
    @foreach (var item in Model)
    {
<div class="card border-dark mb-3" style="max-width: 18rem;">

    <div class="card-header">
        @Html.DisplayFor(modelItem => item.Title)
    </div>
    <div class="card-body text-dark">
        @Html.DisplayFor(modelItem => item.Date)
        <hr />
        @Html.DisplayFor(modelItem => item.Description)
    </div>
    <div class="card-footer small bg-transparent border-dark">
        @foreach (var i in item.ThemeEntries)
        {
            @Html.DisplayFor(modelItem => i.Theme.Name) <br />
        }
    </div>

    </div>
    }

    @*<td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>*@
